extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Mark Wisdom Reeves

        //- Feel free personalize the title below
        p.lead.text-light
          | Am a Full Stack Developer & Computer Hardware Engineer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Am a 29 years old Full Stack JavaScript Developer from the TeamTreeHouse Techdegree online course. Due to my passion as a web Developer, I have built some nice projects that you are welcome to view.
            |
            | I Presently lived in Italy, Europe. Am willing to learn a new technologies in other to improve my skills and knowlodges as a Developer.
            |
            | In addition to my Web Development skills, am also a Computer Hardware Engineer and have three years worked experience in Computer Hardware Engineering.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills & Tools

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Hmtl
          li Css/Sass
          li Bootstrap
          li JavaScript
          li Jquery
          li Express.js
          li React.js
          li Node.js & npm
          li Git, GitHub & webpack
          li Responsive Design
          
      
        h6 Contact Info

        //- Add your own contact info
        ul
          li 39-351-080-2563
          li wisdom3510802563@gmail.com


        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/mark-wisdom-reeves/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/markwisdomreeves', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/wisdom_mark', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  