extends layout.pug

block content 
  
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project.background-color
    .grid-x
      .cell.small-6.medium-9.large-9

        h1#about-me-page Mark W. Reeves 
<<<<<<< HEAD
        h4 Italy, Teramo (ABR)
=======
        h4#about-me-page Italy, Teramo (ABR)
>>>>>>> bbfe96f89c0ca1bd07f497638c40df5086eade0b
          |
        p.lead.text-light.about_info
          | Full Stack Developer & Computer Engineer.
        .portfolio-bio
          p
            | I am a 29 years old Full Stack JavaScript Developer from the TeamTreeHouse Techdegree online School. Due to my passion as a web Developer, I have built some nice projects that you are welcome to view.
            |
            | I Presently lived in Italy, Europe. Am willing to work and learn new technologies in other to improve my skills and knowlodges as a great Developer.
            |
            | In addition to my Development skills, am also a Computer Hardware Engineer and have three years worked experience in Computer Hardware Engineering.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6.skills-title Skills & Tools

        ul.projects-name
          li HTML
          li CSS3 & SASS
          li BOOTSTRAP
          li JAVASCRIPT
          li JQUERY
          li EXPRESS.JS
          li REACT.JS
          li NODE.JS & NPM
          li GIT, GITHUB & WEBPACK
          li RESPONSIVE DESIGN
          
        h6.skills-title Contact Info

        ul#projects-contact
          li 39-351-080-2563
<<<<<<< HEAD
          li wisdom3510802563@gmail.com
          
          
          
=======
          li wisdom3510802563 
          br
          @gmail.com
>>>>>>> bbfe96f89c0ca1bd07f497638c40df5086eade0b

        a.button.expanded(href='https://www.linkedin.com/in/mark-wisdom-reeves/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/markwisdomreeves', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/wisdom_mark', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  