extends layout
block content

  div.grid-container.portfolio-intro
    h1.error-tiltle= error.message
    h2#error-msg= error.status
    h3#error-msg= error.stack
    <br>
    h3.error-tiltle This is the wrong page (404 error)
    <br>
    a#my-btn-error.button.expanded(href='/') TAKE ME BACK TO THE HOMEPAGE