extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h3.my_header I love to solve a real world problems.
      h4#my-portfolio My Portfolio
      p.lead.text-light.paraText_on_small_screen
        | In this portfolio, I have showcased some of my best projects I have built as a Full Stack JavaScript Developer. With these projects, am seeking for a job where I can work and learn new Technologies to improve my skills as a great Developer.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h6 #{project.project_name}

            a#main-link


      




          
      
